{{#SkillsPassport.LearnerInfo}}
<div id="resume">

  {{#Identification}}
  <header class="identification">

    {{#PersonName}}
    <div class="person-name-wrapper">
      <h1 class="person-name">{{FirstName}} {{Surname}}</h1>
    </div>
    {{/PersonName}}

    {{#ContactInfo}}
    <div class="contact-info">

      {{#Address.Contact}}
      <span class="address">{{AddressLine}} </span>
      <span class="postalCode">{{PostalCode}}, </span>
      <span class="city">{{Municipality}}, </span>
      {{#Country}}
      <span class="region">{{Label}}</span>
      <span class="countryCode">{{Code}}</span>{{/Country}}
      {{/Address.Contact}}

      {{#WebsiteList}}
      <div class="website-list">
        {{#Website}}
        <div class="website">
          <span class="fa fa-external-link"></span>
          <a target="_blank" href="{{Contact}}">{{Contact}}</a>
        </div>{{/Website}}
      </div>{{/WebsiteList}}

      {{#Email}}
      <div class="email">
        <i class="fas fa-envelope"></i>
        <a href="{{Contact}}">{{Contact}}</a>
      </div>
      {{/Email}}

      {{#Telephone}}
      <div class="phone">
        <i class="fas fa-{{Use.Code}}-alt"></i>
        <a href="tel:{{Contact}}">{{Contact}}</a>
      </div>
      {{/Telephone}}

      {{#ContactMethodList}}
      <!-- This part is provided by Europass to contain contact methods that
       are not supported yet by format -->
      <div class="contact-method-list">
        {{#ContactMethod}}
        <div class="item">
          <div class="username">
            <span class="fa fa-{{Use.Code}} {{Use.Code}} social"></span>
            <span>{{Contact}}</span>
          </div>
        </div>
        {{/ContactMethod}}
      </div>
      {{/ContactMethodList}}

    </div><!-- End of .contact-info -->
    {{/ContactInfo}}

  </header>
  {{/Identification}}

  <!-- Contents: Work Experience, Education, Projects, ... -->
  <div class="content">
    <div class="main">
      <section class="work-experience-list">
        <header class="section-header">
          <div class="section-icon-wrapper"><i class="fas fa-briefcase fa-lg"></i></div>
          <h2 class="section-title">Esperienze Lavorative</h2>
        </header>

        {{#WorkExperience}}
        <article class="work-experience">
          <header class="work-experience-header">
            {{#Position}}
            <div class="position">{{Label}}</div>
            {{/Position}}
            {{#Period}}
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              {{#From}}
              <span class="startDate">{{#Day}}{{Day}} / {{/Day}}{{#Month}}{{Month}} / {{/Month}}{{Year}}</span>
              {{/From}}
              {{#To}}
              <span class="endDate"> -> {{#Day}}{{Day}} / {{/Day}}{{#Month}}{{Month}} / {{/Month}}{{Year}}</span>
              {{/To}}
              {{#Current}}
              <span class="endDate"> -> present</span>
              {{/Current}}
            </div>
            {{/Period}}
            {{#Employer}}
            <div class="company">
              <div class="company-icon">
                <i class="fas fa-building"></i>
              </div>
              <div class="company-name">{{Name}}</div>
            </div>
            {{/Employer}}
          </header>

          <div class="work-experience-activities">
            <p>{{& Activities}}</p>
          </div>

        </article><!-- End of .work-experience -->
        {{/WorkExperience}}

      </section>

      <section class="education-list">
        <header class="section-header">
          <div class="section-icon-wrapper"><i class="fas fa-graduation-cap fa-lg"></i></div>
          <h2 class="section-title">Istruzione</h2>
        </header>

        {{#Education}}
        <article class="education-item">
          <header class="education-item-header">
            {{#Title}}
            <div class="title">{{Title}}</div>
            {{/Title}}
            {{#Period}}
            <div class="date">
              <i class="fas fa-calendar-alt"></i>
              {{#From}}
              <span class="startDate">{{#Day}}{{Day}} / {{/Day}}{{#Month}}{{Month}} / {{/Month}}{{Year}}</span>
              {{/From}}
              {{#To}}
              <span class="endDate"> -> {{#Day}}{{Day}} / {{/Day}}{{#Month}}{{Month}} / {{/Month}}{{Year}}</span>
              {{/To}}
              {{#Current}}
              <span class="endDate"> -> present</span>
              {{/Current}}
            </div>
            {{/Period}}
            {{#Organisation}}
            <div class="company">
              <div class="company-icon">
                <i class="fas fa-building"></i>
              </div>
              <div class="company-name">{{Name}}</div>
            </div>
            {{/Organisation}}
          </header>

          <div class="education-item-activities">
            <p>{{& Activities}}</p>
          </div>
        </article><!-- End of .education-item -->
        {{/Education}}

      </section><!-- End of .education-list -->
    </div><!-- End of .main -->

    <!-- Skills -->
    <div class="side">
    </div>
  </div>


  <!-- <section class="section main-summary">
    <section>
      <div><p>Richard hails from Tulsa. He has earned degrees from the University of Oklahoma and Stanford. (Go Sooners and Cardinal!) Before starting Pied Piper, he worked for Hooli as a part time software developer. While his work focuses on applied information theory, mostly optimizing lossless compression schema of both the length-limited and adaptive variants, his non-work interests range widely, everything from quantum computing to chaos theory. He could tell you about it, but THAT would NOT be a “length-limited” conversation!</p></div>
    </section>
  </section> -->

</div>
{{/SkillsPassport.LearnerInfo}}
